In [ ]:
import streamlit as st
import pandas as pd
import plotly.express as px
from recursos.get_experience_table_char import get_experience_table
import datetime as dt
import re


st.set_page_config(layout="wide")

char_name = "kin freezetime"
df = get_experience_table(char_name)

# Processing data
# quero a quantidade de experiencia por dia
df["Date"] = pd.to_datetime(df["Date"])
df = df.sort_values("Date")

df["Month"] = df["Date"].apply(lambda x: str(x.year) + "-" + str(x.month))
month = st.sidebar.selectbox("Mes", df["Month"].unique())

# Creating the lvl gain/loss column
df["LvlChange"] = df['Lvl'].str.extract(r"\(([-+]?\d+)\)").astype(float)
# replacing nan for 0
df["LvlChange"] = df["LvlChange"].fillna(0)

# filling nan whit 0
df["Avg exp per hour"] = df["Avg exp per hour"].str.replace("/h", "")
df["Avg exp per hour"] = df["Avg exp per hour"].replace(",", "", regex=True)
df["Avg exp per hour"] = df["Avg exp per hour"].fillna(0)

df_filtred = df.loc[df["Month"] == month]

# aqui serve para criar caixas imaginarias
# aqui primeiro será dividida em duas caoxas
col1, col2 = st.columns(2)
# aqui primeiro será dividida em tres
col3, col4, col5 = st.columns(3)

fig_daily_exp = px.bar(df_filtred, x="Date", y="Exp change", color="Time on-line", title="Exp por dia")
col1.plotly_chart(fig_daily_exp)

fig_daily_lvl = px.bar(df_filtred, x="Date", y="LvlChange",color="Time on-line", title="Lvl por dia")
col2.plotly_chart(fig_daily_lvl)

fig_daily_exphour = px.bar(df_filtred, x="Date", y="Avg exp per hour", title="Avg exp por dia")
col3.plotly_chart(fig_daily_exphour)

2024-11-29 15:27:21.671 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
c:\Users\hecto\Documents\PythonScripts\enviroments\tibia_data_project\recursos\get_experience_table_char.py:40: FutureWarning:

Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.

2024-11-29 15:27:22.547 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.548 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.548 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.548 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.549 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.550 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.553 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.553 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.554 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.554 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.554 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.555 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.555 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.571 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.572 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.572 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.573 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.590 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.591 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.591 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.592 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.609 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.610 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.610 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-29 15:27:22.610 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [4]:
df

,Date,Exp change,Vocation rank,Lvl,Experience,Time on-line,Avg exp per hour,Month,LvlChange
0,2024-10-30,0,245 (-1),403,1074914156,0,0,2024-10,0.0
1,2024-10-31,0,245,403,1074914156,0,0,2024-10,0.0
2,2024-11-01,0,245,403,1074914156,0,0,2024-11,0.0
3,2024-11-02,0,245,403,1074914156,0,0,2024-11,0.0
4,2024-11-03,0,243 (+2),403,1074914156,0,0,2024-11,0.0
5,2024-11-04,0,243,403,1074914156,0,0,2024-11,0.0
6,2024-11-05,0,244 (-1),403,1074914156,0,0,2024-11,0.0
7,2024-11-06,0,244,403,1074914156,0,0,2024-11,0.0
8,2024-11-07,0,245 (-1),403,1074914156,0,0,2024-11,0.0
9,2024-11-08,0,244 (+1),403,1074914156,0,0,2024-11,0.0
10,2024-11-09,0,244,403,1074914156,0,0,2024-11,0.0
11,2024-11-10,0,244,403,1074914156,0,0,2024-11,0.0
12,2024-11-11,0,244,403,1074914156,0,0,2024-11,0.0
13,2024-11-12,0,244,403,1074914156,0,0,2024-11,0.0
14,2024-11-13,0,244,403,1074914156,0,0,2024-11,0.0
15,2024-11-14,0,244,403,1074914156,0,0,2024-11,0.0
16,2024-11-15,0,244,403,1074914156,0,0,2024-11,0.0
17,2024-11-16,0,244,403,1074914156,0,0,2024-11,0.0
18,2024-11-17,2508034,245 (-1),403,1077422190,4h 30min,"557,341/h",2024-11,0.0
19,2024-11-18,-4568225,246 (-1),402 (-1),1072853965,3h 45min,0,2024-11,-1.0
20,2024-11-19,0,246,402,1072853965,2h 45min,0,2024-11,0.0
21,2024-11-20,18208718,243 (+3),405 (+3),1091062683,12h 15min,"1,486,426/h",2024-11,3.0
22,2024-11-21,1681638,243,405,1092744321,2h 30min,"672,655/h",2024-11,0.0
23,2024-11-22,4578858,243,405,1097323179,6h 15min,"732,617/h",2024-11,0.0
24,2024-11-23,14853418,241 (+2),407 (+2),1112176597,8h,"1,856,677/h",2024-11,2.0
25,2024-11-24,3333126,240 (+1),408 (+1),1115509723,8h 15min,"404,015/h",2024-11,1.0
26,2024-11-25,0,239 (+1),408,1115509723,1h 30min,0,2024-11,0.0
27,2024-11-26,4906221,239,408,1120415944,3h 15min,"1,509,606/h",2024-11,0.0
28,2024-11-27,7236765,236 (+3),409 (+1),1127652709,7h 15min,"998,174/h",2024-11,1.0
29,2024-11-28,1509439,235 (+1),409,1129162148,4h 30min,"335,431/h",2024-11,0.0

In [ ]:
df["Avg exp per hour"] = df["Avg exp per hour"].str.replace("/h", "")
df["Avg exp per hour"] = df["Avg exp per hour"].replace(",", "", regex=True)
df["Avg exp per hour"] = df["Avg exp per hour"].fillna(0)

In [25]:
df["Avg exp per hour"] = df["Avg exp per hour"].replace(",", "", regex=True)

In [27]:
df["Avg exp per hour"] = df["Avg exp per hour"].fillna(0)

In [28]:
df

,Date,Exp change,Vocation rank,Lvl,Experience,Time on-line,Avg exp per hour,Month,LvlChange
0,2024-10-30,0,245 (-1),403,1074914156,0,0,2024-10,0.0
1,2024-10-31,0,245,403,1074914156,0,0,2024-10,0.0
2,2024-11-01,0,245,403,1074914156,0,0,2024-11,0.0
3,2024-11-02,0,245,403,1074914156,0,0,2024-11,0.0
4,2024-11-03,0,243 (+2),403,1074914156,0,0,2024-11,0.0
5,2024-11-04,0,243,403,1074914156,0,0,2024-11,0.0
6,2024-11-05,0,244 (-1),403,1074914156,0,0,2024-11,0.0
7,2024-11-06,0,244,403,1074914156,0,0,2024-11,0.0
8,2024-11-07,0,245 (-1),403,1074914156,0,0,2024-11,0.0
9,2024-11-08,0,244 (+1),403,1074914156,0,0,2024-11,0.0
10,2024-11-09,0,244,403,1074914156,0,0,2024-11,0.0
11,2024-11-10,0,244,403,1074914156,0,0,2024-11,0.0
12,2024-11-11,0,244,403,1074914156,0,0,2024-11,0.0
13,2024-11-12,0,244,403,1074914156,0,0,2024-11,0.0
14,2024-11-13,0,244,403,1074914156,0,0,2024-11,0.0
15,2024-11-14,0,244,403,1074914156,0,0,2024-11,0.0
16,2024-11-15,0,244,403,1074914156,0,0,2024-11,0.0
17,2024-11-16,0,244,403,1074914156,0,0,2024-11,0.0
18,2024-11-17,2508034,245 (-1),403,1077422190,4h 30min,557341,2024-11,0.0
19,2024-11-18,-4568225,246 (-1),402 (-1),1072853965,3h 45min,0,2024-11,-1.0
20,2024-11-19,0,246,402,1072853965,2h 45min,0,2024-11,0.0
21,2024-11-20,18208718,243 (+3),405 (+3),1091062683,12h 15min,1486426,2024-11,3.0
22,2024-11-21,1681638,243,405,1092744321,2h 30min,672655,2024-11,0.0
23,2024-11-22,4578858,243,405,1097323179,6h 15min,732617,2024-11,0.0
24,2024-11-23,14853418,241 (+2),407 (+2),1112176597,8h,1856677,2024-11,2.0
25,2024-11-24,3333126,240 (+1),408 (+1),1115509723,8h 15min,404015,2024-11,1.0
26,2024-11-25,0,239 (+1),408,1115509723,1h 30min,0,2024-11,0.0
27,2024-11-26,4906221,239,408,1120415944,3h 15min,1509606,2024-11,0.0
28,2024-11-27,7236765,236 (+3),409 (+1),1127652709,7h 15min,998174,2024-11,1.0
29,2024-11-28,1509439,235 (+1),409,1129162148,4h 30min,335431,2024-11,0.0

In [43]:
df["LvlChange"].loc[df["LvlChange"].isna()] = 0

C:\Users\hecto\AppData\Local\Temp\ipykernel_4396\3467328865.py:1: FutureWarning:

ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy


C:\Users\hecto\AppData\Local\Temp\ipykernel_4396\3467328865.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
df["LvlChange"].astype(int)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19   -1
20    0
21    3
22    0
23    0
24    2
25    1
26    0
27    0
28    1
29    0
Name: LvlChange, dtype: int64